[submodule "3rdparty/qtpromise"]
	path = 3rdparty/qtpromise
	url = https://github.com/simonbrunel/qtpromise.git
[submodule "src/utils"]
	path = src/utils
	url = https://github.com/ElectronicMeow/CryptoUtils
